*{
        padding:0;
        margin: 0;
}
header{
        width: 100%;
        height: 100px;
        background: linear-gradient(to right , rgb(231, 41, 41),orange);
}
#logoBox{
        width: 35%;
        height: 100px;
        float: right;
        background: rgb(114, 96, 96);
}
#logo{
        float: right;
        height: 100%;
        margin-right: 45px;
        border-radius: 50%;

}
#h1title{
        float: left;
        line-height: 100px;
        text-align: center;
        color: black;
        padding: 0px 20px;
        margin-left: 25px;

}
nav{
        width: 100%;
        text-align: center;
}
nav a{
        text-decoration: none;
        color:white;
        display: block;
}
nav li{
        display: inline-block;
        width: 100px;
        text-align: center;
        line-height: 100px;
        font-weight: bold;
        font-size: 20px;
        
}
nav a:hover{
        background: white;
        color: black;
}
main{

        margin-top: 2px;
        width: 100%;
        height: 450px;
        background: rgb(226, 133, 12);
        animation-name:changeColor ;
        animation-duration: 12s;
        animation-iteration-count: infinite;
}
#article{
        width: 70%;
        /* background: black; */
        height: 450px;
        position: relative;
        float: right;
}

#imgart{
        height: 65%;
        width: 50%;
        position: absolute;
        top: 125px;
        left: 275px;
    transform: translate(-50% -50%);
    border-radius: 50%;
    border: 3px solid orange;
    animation-name: B2;
    animation-duration: 12s;
    animation-iteration-count: infinite; 
}
#boxh2{
     background: red; 
      border: 10px solid rgb(71, 62, 62);
     height: 100px;
     text-align: center;
     
}
#h2Aoumri{
        text-align: center;
        color:white;
        border-bottom: 2px solid white;
        margin-left: 50px;
        background: rgb(39, 38, 38);
        border-radius: 90%;

}
#h2Aoumri:hover{
        background: white;
        color: black;
}
#ptext{
        font-family: 'Amiri', serif;
        width: 100%;
       padding: 10px 0px;
       justify-content:center;
       background: white;
       
      
        
}
aside{
        width: 30%;
        height: 450px;
        background: white;
        float: left;
}
#asidVi{
        width: 98%;
        margin: 2px;
}
#h1asisd{
        font-weight: bold;
        text-align: center;
        /* background: black; */
        color: rgb(31, 27, 27);
        padding: 15px;
        margin: 4px;
        border-bottom: 2px solid red;
}
#boxsocial{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-top: 10px;
}
#boxsocial img{
        height: 45px;
        border-bottom: 2px solid red;
        
}
#h2-contact{
        text-align: center;
        font-weight: bold;
        padding-top: 35px;
        border-radius: 40%;
        background: #d1870f;
        margin: 5px;
}
#boxsocial img:hover{
        height:55px;
        border-bottom: 2px dashed orange;
        display: block;
        
}
main{

        width: 100%;
        height: 450px;
        background: rgb(39, 39, 100);
}
#article1{

        width: 70%;
        height: 450px;
        /* background: black; */
        float: right;
        position: relative;
}
#boxspan{
        width: 674px;
        height: 307px;
        background: rgb(245, 172, 90);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);  
        border: 2px double rgb(212, 166, 14); 
          
}
#imgaoumri{
        position: absolute;
        height: 130px;
        width: 125px;
        justify-content: center;
        margin-left: 280px;
        border-radius: 50%;
        margin-bottom: 40px;
        border: 2px double rgb(39, 28, 139);
        
}
#h1span{
        text-align: center;
        padding-top: 15px;
        border-bottom: 2px solid red;
        padding-bottom: 15px;
        background: rgb(88, 81, 81);
        
}
#Pspan{
        font-family: 'Amiri', serif;
        text-align: center;
        padding: 30px;
        background: rgb(245, 172, 90);
}
#h1sp1{
        text-align: center;
        padding-top: 15px;
        border-bottom: 2px solid red;
        padding-bottom: 15px;
        background: rgb(88, 81, 81);

}
#h1sp2{
        text-align: center;
        padding-top: 15px;
        border-bottom: 2px solid red;
        padding-bottom: 15px;
        background: rgb(88, 81, 81);  
}
#h1sp3{
        text-align: center;
        padding-top: 15px;
        border-bottom: 2px solid red;
        padding-bottom: 15px;
        background: rgb(88, 81, 81);  
}
#aside1{
        width: 30%;
        height: 450px;
        background: white;
        float: left;
}
#h2map{
        text-align: center;
        padding: 20px;
        background: linear-gradient(45deg,red,rgb(255, 255, 255),orange);
        margin: 0 5px;
}
#map{
        text-align: center;
        display: block;
        padding-top: 10px;
        margin: 2px;
}
@keyframes changeColor{
      0%{
              background: orchid;
      }  
      25%{
        background: rgba(43, 160, 102, 0.911);
      }
        
      50%{
        background: rgb(22, 85, 143);
      }
      75%{
        background: rgb(34, 71, 100);
      }
      100%{
        background: rgb(170, 159, 10)
      }
}
@media only screen and (min-width:990px) and (max-width:1070px){
        #logoBox{
            width: 45%;
        }
        #article {
                width: 65%;
        }
        aside {
                width: 35%;
        }
        #article1 {
                width: 65%;
        }
        #aside1 {
                width: 35%;
        }
        #boxspan {
                width: 577px;
        }
}
@media only screen and (min-width:820px) and (max-width:990px){
        #logoBox {
                width: 45%;
        }
        #boxspan {
                width: 545px;
        }
        #imgart {
                height: 70%;
                width: 50%;
                position: absolute;
                top: 125px;
                left: 146px;
                transform: translate(-50% -50%);
                border-radius: 50%;
                border: 3px solid orange;
            }
            #ptext {
                font-family: 'Amiri', serif;
                width: 100%;
                height: 51px;
                justify-content: center;
                background: white;
            }
            #imgaoumri {
                position: absolute;
                height: 130px;
                width: 125px;
                justify-content: center;
                margin-left: 197px;
                border-radius: 50%;
                margin-bottom: 40px;
                border: 2px double rgb(39, 28, 139);
            }
}
@media only screen and (min-width:720px) and (max-width:820px){
        #logoBox {
                width: 55%;
        }
        #article {
                width: 65%;
        }
        aside {
                width: 35%;
        }
        #article1 {
                width: 65%;
        }
        #aside1 {
                width: 35%;
        }
        #imgaoumri {
                position: absolute;
                height: 96px;
                width: 125px;
                justify-content: center;
                margin-left: 154px;
                border-radius: 50%;
                margin-bottom: 40px;
                border: 2px double rgb(39, 28, 139);
            }
            #boxspan {
                width: 413px;
                height: 307px;
                background: rgb(245, 172, 90);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                border: 2px double rgb(212, 166, 14);
            }
            #imgart {
                height: 65%;
                width: 50%;
                position: absolute;
                top: 125px;
                left: 118px;
                transform: translate(-50% -50%);
                border-radius: 50%;
                border: 3px solid orange;
            }
            #ptext {
                font-family: 'Amiri', serif;
                width: 100%;
               
                height: 65px;
                justify-content: center;
                background: white;
            }
}
@media only screen and (max-width:700px){
        header{
                height: auto;
                width: 100%;
        }
        #logoBox{
                width: 100%;
                text-align: center;
                height: 200px;
                background: rgb(204, 201, 199);
        }
        #logo {
                float: none;
                float: none;
                height: 65%;
                width: 25%;
                
               
        }
        span a{
                text-decoration: none;
        }
        #h1title{
                margin-right: 70px;
                text-align: center;
                float: none;
        }
        #article {
                width: 100%;
        }
        aside {
                width: 100%;
        }
        #article1 {
                width: 100%;
        }
        #aside1 {
                width: 100%;
        }
        #boxspan {
                width: 409px;
        }
        #h1asisd {
                font-weight: bold;
                text-align: center;
                /* background: black; */
                color: rgb(31, 27, 27);
                padding: 15px;
                margin: 4px;
                /* border-bottom: 2px solid red; */
            }
            #boxsocial img {
                height: 45px;
        }
        #h2-contact {
                text-align: center;
                font-weight: bold;
                padding-top: 4px;
                border-radius: 40%;
                /* background: #d1870f; */
                margin: 5px;
            }
            #imgart {
                height: 60%;
                width: 50%;
                position: absolute;
                top: 156px;
                left: 105px;
                transform: translate(-50% -50%);
                border-radius: 50%;
                border: 3px solid rgb(54, 50, 43);
            }
            #imgaoumri {
                position: absolute;
                height: 95px;
                width: 125px;
                justify-content: center;
                margin-left: 143px;
                border-radius: 50%;
                margin-bottom: 44px;
                border: 2px double rgb(15, 88, 138);
            }
            #ptext {
                font-family: 'Amiri', serif;
                width: 100%;
                height: 77px;
                /* padding: 10px 0px; */
                justify-content: center;
                background: white;
            }

}
@-webkit-keyframes B2{0%{-webkit-transform:rotateX(0);transform:rotateX(0);-webkit-transform-origin:top;transform-origin:top}100%{-webkit-transform:rotateX(180deg);transform:rotateX(180deg);-webkit-transform-origin:top;transform-origin:top}}@keyframes swing-top-fwd{0%{-webkit-transform:rotateX(0);transform:rotateX(0);-webkit-transform-origin:top;transform-origin:top}100%{-webkit-transform:rotateX(180deg);transform:rotateX(180deg);-webkit-transform-origin:top;transform-origin:top}}
